@use 'base'

.sm-button
  @include base.flex-center(true, false)
  // margin: .5rem 1rem
  padding: .5rem 1rem
  background-color: #e9e9e9
  color: #0f0f0f
  cursor: pointer
  transition: all .3s
  height: base.$input-height
  gap: .5rem
  font-weight: 500
  width: fit-content
  &:not(.disabled)
    &:hover
      opacity: .8
    &:active
      opacity: .6
  &__prepend,
  &__body,
  &__append
    @include base.flex-center(true , false)
  &__body
    flex-grow: 1
    line-height: 1.3
    user-select: none
    justify-content: center
  &.disabled
    cursor: default
    background-color: #eaeaea
    color: #aaa
  &.block
    display: flex
    flex-grow: 1
    width: auto
    margin: .5rem 1rem
  &.sm-rounded--circle
    width: base.$input-height
    height: base.$input-height
    padding: 0
    .sm-button-body
      justify-content: center
  &.sm-button--small
    padding: 0 .8rem
    height: 30px
    font-size: .875rem
  &.sm-button--mini
    // height: 24px
    height: auto
    padding: .2rem .6rem
    font-size: 12px
    line-height: 1
