.sm-regular-container
  display: inline-flex
  flex-direction: column
  padding: .5rem 0
  max-height: 400px
  min-width: 14rem
  row-gap: .3rem
  .sm-regular-header
    display: flex
    font-size: 1.1rem
    color: #666
    font-weight: 600
    // margin-bottom: .2rem
    padding: .3rem 1rem
  .sm-regular-group
    display: flex
    flex-direction: column
    // background-color: #F4F4F4
    padding: .5rem 0 0
    &-tabs
      display: flex
      padding: 0 1rem
    &-item
      padding: .5rem 1rem
      cursor: pointer
      border-radius: .7rem
      color: #999
      transition: all .2s ease
      // border-bottom: 1px solid #9e5050
      &.active
        background-color: #f4f4f4
        font-weight: 600
        color: #333
        // box-shadow: 0 2px 8px rgba(0, 0, 0, .2)
    &-body
      padding-top: .5rem
      background-color: white
  .sm-regular-item
    display: flex
    align-items: center
    line-height: 1
    cursor: pointer
    padding: .5rem 1rem
    &.disabled
      cursor: default
      .sm-regular-item-content
        color: #ccc
    .sm-regular-item-prepend
      display: inline-flex
      margin-right: .5rem
      align-items: center
    .sm-regular-item-content
      color: #666
      font-size: 1rem
  .sm-regular-item-header
    font-size: 1rem
    color: #aaa
    // margin-bottom: .5rem
    font-weight: 600
    padding: .3rem 1rem
  .sm-regular-item-divider
    border-top: 1px solid #eee
    margin: .2rem 0
